@import '~office-ui-fabric-react/dist/sass/References.scss';


.container {
  max-width: 700px;
  min-width: 350px;
  margin: 0px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;

  ul {
    padding-left: 0;

    li { 
      list-style: none;
      margin: 10px 0;
     }
  }
  
}

.row {
  @include ms-Grid-row;
  @include ms-fontColor-white;
  background-color: $ms-color-themeDark;
  padding: 20px;
}

.column {
  @include ms-Grid-col;
  @include ms-lg12;
  @include ms-xl12;
}

.textField{
  color: #FFF;
}